<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sumainfo.modules.sys.dao.DeptMapper">
	
	<select id="getDept" resultType="java.util.Map">
	SELECT dept_id deptid,parent_id parentid,`name` FROM `sys_dept`
		<trim prefix="where" prefixOverrides="and|or">
			<if test="parentId !=null and parentId !='' ">
				and dept_id=#{parentId}
			</if>
		</trim>
	</select>
	
	<select id="getDeptMap" resultType="java.util.Map">
	SELECT dept_id deptid,parent_id parentid,`name` FROM `sys_dept`
		<trim prefix="where" prefixOverrides="and|or">
			<if test="loginDeptid !=null and loginDeptid !='' ">
				and dept_id=#{loginDeptid}
			</if>
		</trim>
	</select>
	
	<insert id="addDept" parameterType="java.util.Map">
		INSERT INTO sys_dept
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="parent_id !=null">parent_id,</if>
			<if test="name !=null">name,</if>
			<if test="order_num !=null">order_num,</if>
			<if test="isregion !=null">isregion,</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="parentId !=null">#{parentId},</if>
			<if test="name !=null">#{name},</if>
			<if test="orderNum !=null">#{orderNum},</if>
			<if test="isregion !=null">#{isregion},</if>
		</trim>
	</insert>
	
	<update id="updateDept" parameterType="java.util.Map">
		UPDATE sys_dept
		<trim prefix="set" suffixOverrides=","> 
			<if test="parentId !=null">parent_id=#{parentId},</if>
			<if test="name !=null">name=#{name},</if>
			<if test="orderNum !=null">order_num=#{orderNum},</if>
			<if test="isregion !=null">isregion=#{isregion},</if>
		</trim>
		<trim prefix="where" prefixOverrides="and|or">
			<if test="deptId !=null">
				and dept_id=#{deptId}
			</if>
		</trim>
	</update>
	
</mapper>