<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sumainfo.modules.sys.dao.DeptMapper">
	
	<select id="getDept" resultType="java.util.Map">
	SELECT dept_id deptid,parent_id parentid,`name` FROM `sys_dept`
		<trim prefix="where" prefixOverrides="and|or">
			<if test="parentId !=null and parentId !='' ">
				and dept_id=#{parentId}
			</if>
		</trim>
	</select>
	
	<select id="getDeptMap" resultType="java.util.Map">
	SELECT dept_id deptid,parent_id parentid,`name` FROM `sys_dept`
		<trim prefix="where" prefixOverrides="and|or">
			<if test="loginDeptid !=null and loginDeptid !='' ">
				and dept_id=#{loginDeptid}
			</if>
		</trim>
	</select>
	
</mapper>