<!DOCTYPE html>
<html>
<head>
<title>发布热销车型</title>
<#include "/header.html">
</head>
<body>
<div id="rrapp" v-cloak>
	<div v-show="showList">
		<div class="grid-btn">
			<div class="form-group col-sm-2">
				<input type="text" class="form-control" id="keyword" v-model="q.shopname" @keyup.enter="query" placeholder="热销编号、车型名称">
			</div>
			<a class="btn btn-default" @click="query">查询</a>
			<#if shiro.hasPermission("sys:sellCar:save")>
			<a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
			</#if>
			<#if shiro.hasPermission("sys:sellCar:update")>
			<a class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
			</#if>
			<#if shiro.hasPermission("sys:sellCar:delete")>
			<a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
			</#if>
		</div>
	    <table id="jqGrid"></table>
	    <div id="jqGridPager"></div>
    </div>

	<div v-show="!showList" class="panel panel-default">
		<div class="panel-heading">{{title}}</div>
		<form class="form-horizontal" id="form-horizontal" >
			<div class="form-group">
                 <div class="col-sm-2 control-label">热销编号</div>
                 <div class="col-sm-10">
                    <input type="text" readonly="readonly" class="form-control" v-model="vehicaledet.hotid" placeholder="热销编号"/>
                 </div> 	
            </div>
	        <div class="form-group">
                 <div class="col-sm-2 control-label">车型名称</div>
                    <div class="col-sm-10">
                    <select id="vhcicar" name="vhcicar" data-live-search="true" class="selectpicker" onchange="clickSelectDeptList(this)"></select>
                    <input type="text" value="1" hidden id="vhcicars"/>
                </div>
            </div>
            <!-- <div class="form-group">
				<div class="col-sm-2 control-label">车型类型</div>
				<label class="radio-inline">
					<input type="radio" name="hottype" value="1"  v-model="vehicaledet.hottype"/>新车
				</label>
				<label class="radio-inline">
					<input type="radio" name="hottype" value="2"  v-model="vehicaledet.hottype"/>二手车
				</label>
			</div> -->
			<div class="form-group">
				<div class="col-sm-2 control-label">废弃标志</div>
				<label class="radio-inline">
					<input type="radio" name="deflg" value="0"  v-model="vehicaledet.deflg"/>正常
				</label>
				<label class="radio-inline">
					<input type="radio" name="deflg" value="1"  v-model="vehicaledet.deflg"/>废弃
				</label>
			</div>
			<div class="form-group">
				<div class="col-sm-2 control-label"></div>
				<input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
				&nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
			</div>
		</form>
	</div>
</div>

<script src="${request.contextPath}/statics/js/modules/sys/sellCar.js?_${.now?long}"></script>
</body>
</html>