<!DOCTYPE html>
<html>
<head>
<title>新车管理1</title>
<#include "/header.html">
</head>
<body>
<div id="rrapp" v-cloak>
	<div v-show="showList">
		<div class="grid-btn">
			<div class="form-group col-sm-2">
				<input type="text" class="form-control" id="keyword" v-model="q.vehicaledetname" @keyup.enter="query" placeholder="汽车品牌、汽车车型、车型名称、变速箱、车体结构">
			</div>
			<a class="btn btn-default" @click="query">查询</a>
			<#if shiro.hasPermission("sys:setcar:save")>
			<a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
			</#if>
			<#if shiro.hasPermission("sys:setcar:update")>
			<a class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
			</#if>
			<#if shiro.hasPermission("sys:setcar:delete")>
			<a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
			</#if>
		</div>
	    <table id="jqGrid"></table>
	    <div id="jqGridPager"></div>
    </div>

	<div v-show="!showList" class="panel panel-default">
		<div class="panel-heading">{{title}}</div>
		<form class="form-horizontal" id="form-horizontal">
			<div class="form-group">
                 <div class="col-sm-2 control-label">所属店铺</div>
                 <div class="col-sm-10">
                    <input type="text" readonly="readonly" class="form-control" v-model="vehicaledet.shopId" placeholder="所属店铺"/>
                 </div>
            </div>
			<div class="form-group">
            <div class="col-sm-2 control-label">汽车品牌</div>
                <div class="col-sm-10">
                   <!-- <input type="text" class="form-control" style="cursor:pointer;" v-model="vehiclemain.bandName" @click="deptTree" readonly="readonly" placeholder="汽车品牌"/> -->
                   <select id="bandName" name="bandName"  data-live-search="true" class="selectpicker" multiple data-max-options="1" onchange="selectBandName(this)"></select>
                   <input type="text" hidden value="1" id="bandNames"/>
            	</div>
            </div>
			<div class="form-group">
                 <div class="col-sm-2 control-label">汽车车型</div>
                    <div class="col-sm-10">
                    <!-- <input type="text" class="form-control" v-model="vehiclemain.carName" placeholder="汽车车型"/> -->
                    <select id="carName" name="carName" data-live-search="true" class="selectpicker" onchange="selectCarName(this)"></select>
                    <input type="text" hidden value="1" id="carNames"/>
                </div>
            </div>
            <div class="form-group">
				<div class="col-sm-2 control-label">车型名称</div>
				<div class="col-sm-10">
					<input type="text" class="form-control" placeholder="车型名称" v-model="vehicaledet.carDetName" placeholder="sellPrice"/>
					<span style="color:red">例：2018款 30周年年型 40 TFSI 时尚型</span>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-2 control-label">当前售价</div>
				<div class="col-sm-10">
					<input type="number" onkeyup="num(this)" step="0.01" class="form-control" placeholder="当前售价" v-model="vehicaledet.sellPrice" placeholder="sellPrice"/>
					<span style="color:red">例：18.00(单位：万)</span>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-2 control-label">原始价格</div>
				<div class="col-sm-10">
					<input type="number" onkeyup="num(this)" class="form-control"  step="0.01"  placeholder="原始价格" v-model="vehicaledet.orginPrice" placeholder="orginPrice" />
					<span style="color:red">例：18.00(单位：万)</span>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-2 control-label">发动机</div>
				<div class="col-sm-10">
					<select id="carEngine" name="carEngine" data-live-search="true" class="selectpicker" onchange="selectcarEngine(this)"></select>
                    <input type="text" hidden value="1" id="carEngines"/>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-2 control-label">变速箱</div>
				<div class="col-sm-10">
					<select id="gearbox" name="gearbox" data-live-search="true" class="selectpicker" onchange="selectgearbox(this)"></select>
                    <input type="text" hidden value="1" id="gearboxs"/>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-2 control-label">车体结构</div>
				<div class="col-sm-10">
					<select id="carType" name="carType" data-live-search="true" class="selectpicker" onchange="selectcarType(this)"></select>
                    <input type="text" hidden  value="1" id="carTypes"/>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-2 control-label"></div>
				<input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
				&nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
			</div>
		</form>
	</div>
</div>

<!-- 选择部门 -->
<div id="deptLayer" style="display: none;padding:10px;">
	<ul id="deptTree" class="ztree"></ul>
</div>

<script src="${request.contextPath}/statics/js/modules/sys/setcar.js?_${.now?long}"></script>
</body>
</html>